
 @font-face {
    font-family: m5; /* Гарнитура шрифта */
    src: url(/img/m5.ttf); /* Путь к файлу со шрифтом */
   }

 @font-face {
    font-family: m5; /* Гарнитура шрифта */
    src: url(/img/m7.ttf); /* Путь к файлу со шрифтом */
    font-weight:bold;
   }




body {
    margin: 0px;
    background: url(/img/main.jpg);
    background-color: #2b2c3b;
    color: #fff;
    font-family: m5;
    width: 95%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

    .banner img{

    width: 40%;

    }
    
    
   

.slots-number:nth-child(2) .slots-number12:nth-child(1),
.slots-number:nth-child(3) .slots-number12:nth-child(1),
.slots-number:nth-child(4) .slots-number12:nth-child(1){
 color:#b643b9;
}


.footer-polit {
    color: #9494b0;
      font-size: .7vw;
    text-align: center;
    line-height: 1.4;
    border-top: 1px solid grey;
    padding: 10px 0px;
    border-top: 1px solid #3e3e53;
}

a{
    text-decoration:none;
    color:inherit;
}

.right-fixed a {
    margin-bottom: 20px;
    display: flex;
    font-size:0px;
    align-items: center;
}

.right-fixed a img {
    width: 5vw;
    margin: auto;
    height: 3vw;
    object-fit: cover;
    border-radius: 1vw;
}

.right-fixed.active-open a img {
    margin-left:0px;
    margin-right:1vw;
}

.right-fixed img:first-child{
      margin: 0px auto;
}


.container{
    margin:auto;
    width:1550px;
}
header{
    background:#323140;
}
.header {
    height: 74px;
    filter: drop-shadow(0px 3px 8px rgba(43,44,59,0.93));
    color: #868a9f;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1000px;
    margin: auto;
    
}

.header a:hover{
    color:#fff;
}

.banner{

    display: flex;
    align-items: center;
    justify-content: center;

}

.best {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    border-radius: 20px;
    background-image: linear-gradient(0deg, #303142 0%, #3e3f55 100%);
        padding: 0px 30px;
}


.best1{
    font-size: 40px;

}

.best2{
    display:flex;
        width: 45%;
}


 .best21{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px 10px;
            text-align: center;
    width: 25%;
}




.best21 img {
    margin-bottom: 10px;
    max-width: 100%;
    border-radius: 20px;
    height: 85px;
    width: 145px;
    object-fit: cover;
}

.best3 {
    height: 69px;
    border-radius: 20px;
    background-image: linear-gradient(-35deg, #f9b1dc 0%, #f54c85 35%, #b643b9 65%, #72b4f6 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition:.3s;
   width: 283px;
}

.best3:hover,.pok-read:hover{
    transform:scale(1.03);
}


.slots{
    border-radius: 20px;
background-color: #3e3e53;
height:auto;
padding:25px;
margin-bottom:80px;
padding-bottom:5px;
    
}


.right-fixed {
    width: 6%;
    height: 100%;
    position: fixed;
    right: 0px;
    background-image: radial-gradient(circle at center, #3f3d54 0%, #2b2c3b 100%);
    display: flex;
    flex-direction: column;
    transition:.3s;
    align-items: center;
        z-index: 10;
}

.right-fixed.active-open{
    width:20vw;
}


.right-fixed img{
    margin-right:30px;
}

.right-fixed  a{
    margin-bottom:20px;
}

.right-fixed a:hover{
    background-image: linear-gradient(-32deg, #f9b1dc 0%, #f54c85 35%, #b643b9 65%, #72b4f6 100%)!important;
    color:#fff;
}



.topser {
    font-size:1.6vw;
    display: flex;
    align-items: center;
}

.topser span{
    display:none;
    white-space: nowrap;
}

.right-fixed.active-open .topser span{
display:block;
}
.right-fixed .topser{
    margin-bottom:30px;
}

.right-fixed .topser img{
     width: 2vw;
}

.right-fixed.active-open .topser img{
    margin-left:-3vw;
    margin-right:1vw;
}


.right-fixed.active-open a {
    margin-bottom: 20px;
    font-size: 1vw;
    background: #49425e;
    border-radius: 20px;
    width: 15vw;
    display: flex;
    align-items: center;

}

.slots-number {
    display: flex;
    align-items: top;
    justify-content: end;
    border-radius: 20px;
    background-color: #313144;
       height: auto;
    padding: 20px 0px;
    margin-bottom:30px;
}

.slots-number12:nth-child(2) img{
    width:70%;
}

.slots-number12:nth-child(2) img{
    width:124px;
    height:75px;
        object-fit: cover;
}

.slots-number12 {
    line-height: 1.7;
}

.slots-number12:nth-child(1), .slots12:nth-child(1) {
    width: 8%;
        margin-left: 20px;

    text-align: center;
}

.slots-number12:nth-child(1) {
    font-size: 97px;
    color: #969ab4;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    text-align: right;
   ;

}
.slots-number12:nth-child(2), .slots12:nth-child(2) {
    width: 19%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zor-left .pok-item{
    display:none;
}


.zor-left .pok-item:nth-child(1),
.zor-left .pok-item:nth-child(2),
.zor-left .pok-item:nth-child(3),
.zor-left .pok-item:nth-child(4),
.zor-left .pok-item:nth-child(5),
.zor-left .pok-item:nth-child(6){
    display:flex;
}


figure.wp-block-image{
        margin: 0px;
    margin-top: 40px;
}

figure.wp-block-image img{
    width:100%;
}


.slots-number12:nth-child(2) .vul {
    height: 32px;
    border-radius: 10px;
    filter: drop-shadow(0px 6px 21.5px #2c2c3c);
    background-color: #3e3e53;
    width: 70%;
    position:relative;
    display: flex;
    align-items: center;
    overflow:hidden;
    justify-content: center;
    margin-top: 10px;
        font-size: 14px;
}


.zor-left {
    width: 73%;
    border-radius: 20px;
    background-color: #3e3e53;
    padding: 40px 30px;
    box-sizing: border-box;
}

.zor-right{
    width: 25%;

}
.zor-date{
    margin-top:15px;
    font-size:14px;
    color:#a1a1bc;
}

.zor {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}

.zor-name{

    font-size: 24px;
    margin-bottom: 15px;

}


.zor-item .pok-item {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.zor-item a{
    margin-bottom:15px;
}

.zor-item a:last-child  .pok-item{
    margin-bottom:0px;
}

.zor-item .pok-down {
    flex-direction: column;
}


.headers a {
    position: relative;
    min-width: 100px;
    text-align: center;
}
.headers a:hover:after {
    background: url(/img/hov.png);
    content: ' ';
    position: absolute;
    width: 70px;
    height: 5px;
    top:46px;
    left: 0;
    right: 0;
    margin: auto;
}

.headers{
    font-size: 22px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.zor-item .pok-img {
    height: auto;
    width: 122px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 10%;
    height: 90px;
        min-width: 122px;
}

.zor-item .pok-abs {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
}

.zor-item .pok-abs:hover{
  filter: drop-shadow(0px 6px 21.5px #2c2c3c);
background-image: linear-gradient(-50deg, #f9b1dc 0%, #f54c85 35%, #b643b9 65%, #72b4f6 100%);  
    
}



#bon .zor-left  .pok-abs {
    height: 44px;
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 10px;
        justify-content: end;
    text-align: left;
    font-size: 18px;
    margin-top: 15px;
}


#bon .zor-left .pok-stars{
    color:#7d8095;
}

#bon .zor-left .pok-read {
    width: 100%;
}


.zor-new{
    border-radius: 20px;
    background-color: #313144;
    padding: 20px;
  
    margin-bottom:20px;
}

.zor-new:hover{
background-image: linear-gradient(-23deg, #f9b1dc 0%, #f54c85 35%, #b643b9 65%, #72b4f6 100%);
    
}



.zor-new:hover .zor-date{
    color:#fff;
}

.pok-item {
    border-radius: 20px;
    background-color: #313144;
    padding: 20px;
    width: 28%;
    display: flex;
    flex-direction: column;
        margin-bottom: 20px;
        border: 2px solid transparent;
    align-items: center;
}

.pok-item:hover{
border: 2px solid #f14885;
}


.pok-img{
    height: 140px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.vn{
    
    display: flex;
    margin-top:30px;
    margin-bottom:50px;
        border-radius: 20px;
    background-color: #313144;

}

.vn .pok-item {
    width: 45%;
    margin-right: 3%;
    height: max-content;
}


#bon .zor-left .vn .pok-read{
    width:280px;
}

#bon .zor-left .vn .pok-stars{
    margin-left:20px;
}

.vn .pok-img {
    height: 240px;
}

.vn-right{
    
    display: flex;
    width: 40%;
    padding:20px 0px;
    flex-direction: column;

}

.bread{
    color:#c7c7e6;
    font-size:14px;
}
.bread span{
    margin:0px 5px;
}


.vn#game .pok-item {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#bon .zor-left .vn#game .pok-read{
    width:60%;
    height:65px;
    font-size:24px;
    margin-top:30px;
      margin-bottom:30px;
}

#bon .zor-left .vn#game  .pok-stars {
     margin-left: 0px; 
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-right:0px;
      height:65px;
      transition:.3s;
      font-size:20px;
       margin-top:30px;
        margin-bottom:30px;
background-color: #3e3e53;
}

#game .pok-stars img {
    margin: 0px .5vw;
    width: 1.3vw;
}


.vn#game .pok-img {
    height: auto;
}

.vn-right div {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    padding: 7px 14px;
    color: #c7c7e6;
    align-items: center;
}
.vn-right .ccf{
border-radius: 10px;
background-color: #3e3e53;
}
.vn-right div  div{

    color:#fff;
    width:60%;
}

.vn-right span{
    width:40%;
}

.pok-abs{
    height: 44px;
    border-radius: 10px;
    background-color: #3e3e53;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 10px;
}


.pok-read {
    height: 54px;
    border-radius: 15px;
    background-image: linear-gradient(-33deg, #f9b1dc 0%, #f54c85 35%, #b643b9 65%, #72b4f6 100%);
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.pok-more {
    height: 45px;
    border-radius: 10px;
    background-color: #313144;
    border: 2px solid #67697d;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    margin-top:40px;
    cursor: pointer;
}

.pok-more:hover{
 background:#67697d;   
}
    


.zor-item{
    border-radius: 20px;
background-color: #3e3e53;
padding:25px;
margin-bottom:30px;
}

.pok-stars img{
    margin:0px 3px;
}

.pok-down {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}

.pok-all{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}



.slots-number12:nth-child(2) .vul:after{
    position:absolute;
    left:0px;
    content: ' ';
    transition:.3s;
    height: 100%;
    width:5%;
    background-image: linear-gradient(-23deg, #f9b1dc 0%, #f54c85 35%, #b643b9 65%, #72b4f6 100%);
    z-index:-2;
}

.slots-number:hover .vul:after{
    width:100%;
}



.slots-number12:nth-child(3), .slots12:nth-child(3) {
   width: 16%;
    text-align: center;
    padding: 0px 1%;
    box-sizing: border-box;
}


.slots-number12:nth-child(4), .slots12:nth-child(4) {
    width: 10%;
    text-align: center;
}


.slots-number12:nth-child(5), .slots12:nth-child(5) {
    width: 20%;
    text-align: center;
    padding: 0px 2%;
    box-sizing: border-box;
}


.slots-number12:nth-child(6), .slots12:nth-child(6) {
    width: 20%;
    text-align: center;
    padding: 0px 2%;
    box-sizing: border-box;
}


.slots-number12:nth-child(7), .slots12:nth-child(7) {
    width: 10%;
    text-align: center;
}


.slots-number12:nth-child(8), .slots12:nth-child(8) {
    width: 10%;
    text-align: center;
}




.slots-number12:nth-child(9), .slots12:nth-child(9) {
    width: 15%;
    text-align: center;
}


.slots-number12:nth-child(9) .play {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    padding: 0px 0px;
    box-sizing: border-box;
    height: 54px;
    border-radius: 15px;
    background-image: linear-gradient(-33deg, #f9b1dc 0%, #f54c85 35%, #b643b9 65%, #72b4f6 100%);
    width: 80%;
    transition:.3s;
    margin: auto;
}

.slots-number12:nth-child(9) .play:hover{
    transform:scale(1.05);
}


.slots-number12:nth-child(3),
.slots-number12:nth-child(5),
.slots-number12:nth-child(6)
{
    text-align:left;
}


.podr {
    height: 54px;
    border-radius: 10px;
    border: 1px solid #969ab4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
        width: 80%;
}

.obz {
    height: 54px;
    border-radius: 20px;
    border: 1px solid #969ab4;
    display: flex;
    align-items: center;
    justify-content: center;
        width: 80%;
            margin: auto;
}

.obz:hover,.podr:hover{
    color:#000;
background:#fff;
    
}


.stars{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
        margin: auto;
    margin-top: 10px;

}

.slots-number12:nth-child(3) {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slots-number12:nth-child(8) {
    width: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



h1{

    margin: 0px;
    margin: 50px;
    font-size: 25px;

}

.small-text{
      margin: 0px;
      margin-top:0px;
      line-height:1.4;
}


.slots1 {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 14px;
    text-transform: uppercase;
    color: #c7c7e6;
    margin: 20px 0px;
    margin-bottom: 40px;
}


h2,h3,h4,h5,h6, p strong{
    font-size:35px;
    margin:25px 0px;
      font-family: m5; 
    font-weight:bold;
}

.content{
    line-height:1.5;
}




footer {
    border-top: 1px solid #3e3e53;
    height: 103px;
    font-size: 14px;
    color: #9494b0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a{
    margin-right:50px;
}

footer a:hover{
    color:#fff;
}

.footer-r span{
    margin-left:30px;
}

.mob{
    display:none;
}


@media screen and (max-width: 1700px) and (min-width: 1000px) {
   
   .small-text {
    font-size: 14px;
}
   #bon .zor-left .pok-stars{
       padding-right:10%;
           font-size: 1vw;
   }
   
   .zor-new{
        font-size: 1vw;
   }
   
   
   .slots-number12:nth-child(1){
       font-size:70px;
   }
   
   .slots-number12:nth-child(2) .vul{
       font-size:12px;
   }
   
   
   .headers a:hover:after {
    top:43px;
}
    

    
    .vn-right div {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding: 4px 10px;
    }
    
    #bon .zor-left .vn .pok-read {
    width: 180px;
}
    
    .pok-read {
    height: 44px;
    width: 8vw;

}

.pok-abs {
    height: 34px;
    border-radius: 10px;
    background-color: #3e3e53;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: 10px;
    font-size: 12px;
}
    
    
    .pok-stars img {
    margin: 0px .1vw;
    width: auto;
    height: 1vw;
}
    
    .zor-item {
    border-radius: 20px;
    background-color: #3e3e53;
    padding: 15px;
    }
    footer {
    border-top: 1px solid #3e3e53;
    height: 83px;
    font-size: 1vw;
    }
    .zor-left {
    padding: 20px 20px;
    }
    .best3 {
    height: 59px;
    width: 233px;
}
.pok-img {
    height: 100px;
    width: 100%;
}
   
   .best {
    height: 100px;
   }
   
   .slots-number12:nth-child(2) img {
    width: 100px;
    height: 55px;
    object-fit: cover;
}

.slots-number {
    font-size: 12px;
}
h2, h3, h4, h5, h6, p strong{
    font-size:30px;
}

.stars img {
    width: auto;
    height: 1vw;
}

p,li{
    font-size:14px;
}


.slots1 {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 12px;
    text-transform: uppercase;
    color: #c7c7e6;
    margin: 0px 0px;
    margin-bottom: 20px;
}


.podr,.obz,.slots-number12:nth-child(9) .play {
    height: 34px;
    font-size:14px;
}
   
   
   #bon .zor-left .pok-abs {
    font-size: 16px;
   }
   .pok-item {
    border-radius: 20px;
    background-color: #313144;
    padding: 2%;
    width: 27%;
        font-size: 12px;
   }
    
    .headers {
    font-size: 1.2vw;
    }
   
   .best21 {
    font-size: 12px;
} 

.best21 img {
    margin-bottom: 10px;
    max-width: 100%;
    border-radius: 20px;
    display: block;
    height: 55px;
    width: 120px;
    object-fit: cover;
}
    

    
   .container {
    margin: auto;
    width: 90%;
} 
.best1{
    font-size:22px;
}

.zor-item .pok-img {
    height: auto;
    width: 82px;
    height: 70px;
}
    
    
}

 .scr{
     display:none;
 }
 

 
 @media screen and (min-width: 1000px) {

     
     
     .mob{
         display:none!important;
     
         
     }
     
     
       .table-mor{
           display:flex!important;
       }
     
     #stols-game .vn .pok-img{
         height:auto;
     }
     
  #stols-game    .vn-right {
    justify-content: center;
    line-height: 1.8;
}

#stols-game .pok-item a{
    width:100%;
}

 #stols-game   .vn .pok-stars {
  
    white-space: nowrap;
}
     
    .zor-left#bobo  .pok-down{
         flex-direction: column;
             align-items: baseline;
                 margin-top: 10px;
     }
     
     
    .zor-left#bobo .pok-item a{   
         height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;}
     
      .zor-left#bobo  .pok-stars{
          padding-right:20%;
      }
      
       .zor-left#bobo .pok-stars{
        margin-bottom:15px;  
       }
     
     
     .table-mor {
    width: 260px;
    height: 58px;
    border-radius: 15px;
    border: 1px solid #969ab4;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    margin: auto;
    cursor:pointer;
    margin-bottom:30px;
}
   
    .table-mor:hover{
        background:#969ab4;
    }
      
     
    .slots-number{
        display:none;
    } 
    
    .slots-number:nth-child(2), .slots-number:nth-child(3), .slots-number:nth-child(4),
     .slots-number:nth-child(5), .slots-number:nth-child(6), .slots-number:nth-child(7),
      .slots-number:nth-child(8), .slots-number:nth-child(9), .slots-number:nth-child(10),
       .slots-number:nth-child(11){
    display: flex;
}
     
#bon .zor-left .pok-stars {
    color: #7d8095;
    padding-right: 3%;
}
 }
@media screen and (max-width: 1000px) {
 
  .footer-r span{
  margin-left:0px}
    
    .footer-polit {

      font-size: 12px;
}
 
 
.scr {
    display: flex;
    font-size: 14px;
    color: #c7c7e6;
    margin-top: 10px;
    align-items: center;
    width: 110px;
    justify-content: space-between;
}
    
    header{
        z-index:100000;
    }
    
    .right-fixed a img {
    width: 13vw;
    margin: auto;
    height: 11vw;
      border-radius: 25px;
    }
    
    .topser{
        display:none!important;
    }
    
.right-fixed.top-ss {
    display: flex;
    width: 75vw;
    top: 60px;
        padding-top: 30px;
            height: auto;
        transition:.3s;
            padding-bottom: 15px;
            position: absolute;
            transform: translateX(0vw);
        
}  
   
  .right-fixed.top-ss a{
      font-size:4vw;
          background: #49425e;
    border-radius: 25px;
    width: 64vw;
        margin-bottom: 10px;
  } 
   
   
   .right-fixed.top-ss a img{
       margin-left:0px;
           margin-right: 6vw;
   } 
   
    
 .container {
    margin: auto;
    width: 90vw;
}

#slots .stars {
    width: 50%;
}


#slots .obz{
    height: 34px;
    width: 80px;
}


.slots-number12:nth-child(2) img {
    width: 90px;
    height: 60px;
    object-fit: cover;
}

.slots-number12:nth-child(1) {
     
    margin-top: -40px;
}
body {
    width: 100vw;
    padding: 0px 5vw;
    box-sizing: border-box;
}

h2, h3, h4, h5, h6, p strong{
    font-size:22px;
}

footer {

    height: auto;
    flex-direction: column;
        margin-top: 50px;
    text-align: center;
}

.best1 {
    font-size: 22px;
    width: 100%;
}

footer a {
    margin-right: 0px;
    padding: 0px 15px;
    line-height: 1.7;
}

 .footer-r{
    height: auto;
  border-top: 1px solid #3e3e53; 
    padding: 40px 0px;
    line-height: 1.5;
    box-sizing: border-box;
}

.banner{
    display:none;
}

#no-hidden.banner{
    display:flex;
}

 .footer-l{
    /* border-bottom: 1px solid #3e3e53; */
    padding: 20px 0px;
}


.right-fixed{
     padding-top: 30px;
    transition:.3s;
        transform: translateX(-200vw);
            width: 75vw;
    top: 60px;
}

.best {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    padding: 0px;
    width: 105vw;
    margin-left: -5vw;
    padding-left: 5vw;
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 25px;
}


.best.lll {
    padding-top: 20px;  
}

.best3{
    width:90vw;
        font-size: 18px;
}


.best21:first-child{
    margin-left:0px;
}

.header {
    height: 60px;
    filter: drop-shadow(0px 3px 8px rgba(43,44,59,0.93));
    color: #868a9f;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    margin: auto;
    flex-direction: column;
}

.slots12:nth-child(1) {
    width: 13%;
    text-align: center;
}

.slots1 {
    font-size: 12px;
    margin-bottom: 0px;
    padding: 20px 0px;
}

.slots-number12:nth-child(5),
.slots-number12:nth-child(6),
.slots-number12:nth-child(7),
.slots12:nth-child(5),
 .slots12:nth-child(6),
.slots12:nth-child(7),
.slots12:nth-child(8),
.slots12:nth-child(9){
display:none;    
    
}

.slots {
    border-radius: 20px;
    background-color: #3e3e53;
    height: auto;
    padding: 0px;
    margin-bottom: 40px;
    padding-bottom: 5px;
    width: 100vw;
    margin-left: -5vw;
    padding: 0vw 5vw;
    box-sizing: border-box;
        padding-bottom: 20px;
    border-radius: 0px;
}

.headers a:hover:after{
    display:none;
}
.headers {
      transform: translateX(-400%);
    position: absolute;
    transition: .3s;
    display: flex;
    flex-wrap: wrap;
    display: block;
    flex-direction: column;
    height: auto;
    background: #2b2c3b;
    left: 0vw;
      width: 100vw;
    top: 60px;
}

.headers a {
    display: block;
    padding: 10px 0px;
    text-align: left;
    padding-left: 5vw;
}

.acriv {
    transform: translateX(0%);
 
}

.tog img{
   
    width: auto;
    height: 100%;

}
.tog{
    height:30px
}

.open1,.open2{
    display:none;
}

.toper {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    background: url(/img/toper1.png);
    color: #fff;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 40px;
}


 .header-menu{
    display: flex!important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.mob{
    display:block;
}

.stars {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
}
.obz,.slots-number12:nth-child(9) .play {
    height: 34px;
    width: 70%;
        font-size: 14px;
    margin: auto;
}


.slots-number {
    display: flex;
    align-items: top;
    justify-content: end;
    border-radius: 0px;
    background-color: #313144;
    height: auto;
    padding: 20px 0px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    font-size: 12px;
}


.slots-number12:nth-child(3), .slots12:nth-child(3){
    width: 28%;
    text-align: center;
}

.slots-number12:nth-child(4), .slots12:nth-child(4){
   width: 20%;  
    
}

.podr{
    display:none;
}
.slots-number12:nth-child(2), .slots12:nth-child(2) {
    width: 31%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slots1{
    font-size:12px;
}

.slots-number12:nth-child(9), .slots12:nth-child(9){
    width: 35%;
    text-align: center;
      border-top: 1px solid #65677b;
    padding: 20px 0px;
    margin-top: 20px;
        padding-bottom: 0px;
}

.slots-number12:nth-child(8) {
    width: 65%;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: left;
    border-top: 1px solid #65677b;
    padding: 20px 0px;
        padding-bottom: 0px;
    margin-top: 20px;
}


.table-mor {
    width: 160px;
    height: 38px;
    border-radius: 15px;
    border: 1px solid #969ab4;
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    margin: auto;
}

.slots-number12:nth-child(1) {
    font-size: 50px;
 
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
    margin-left: 0px;
}

.slots-number12:nth-child(2) .vul {

    width: 130%;
}


.banner img{
    width:40%;
        margin-top: -10px;
}

h1 {
    font-size: 18px;
    margin: 30px 0px;
    line-height: 1.3;
        margin-top: 100px;
}
h1.nomargin{
     margin-top: 30px;
}



.best21:last-child{
    margin-right:50px;
}

body,html{
    overflow-x:hidden;
}

.best2 {
    display: flex;
    overflow: scroll;
    margin: 30px 0px;
    width: 95vw;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.small-text {
 
    margin-top: 0px;
    line-height: 1.4;
    width: 100%;
}

header {
    background: #323140;
    position: absolute;
    left: 0px;
    padding: 0px 5vw;
    width: 90vw;
}

header.fixed,.fixed{
    
transition:.3s;
    position:fixed!important;
}

.best21{
    width:auto;
}

.best21 img {

    min-width: 150px;
}

.banner{
        padding-top: 70px;
            height: 80px;
}


header .container{
 width: 100%;
}

.zor {
    display: flex;
    margin-bottom: 0px;
    justify-content: space-between;
    flex-direction: column;
        width: 105vw;
    margin-left: -5vw;
}

.zor-left {
    width: 100vw;
    border-radius: 0px;
    background-color: #3e3e53;
    padding: 40px 0px;
    box-sizing: border-box;
    padding: 0px 5vw;
}

.vn#game .pok-img {
    height: auto;
}

.bread {
    margin-top: 25px;
    display:none;
}

.zor-item .pok-abs {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    justify-content: center;
}

.zor-item .pok-down {
    flex-direction: column;
    margin-top: 0px;
}

.zor-item{
    border-radius:0px;
}

.zor-item:last-child{
 margin-bottom:0px;
}

.pok-stars{
    border-radius: 10px;
    background-color: #3e3e53;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;

}



#game .pok-stars img {
    margin: 0px 6px;
    width: 20px;
}

.pok-read {
    height: 54px;
    border-radius: 15px;
    background-image: linear-gradient(-33deg, #f9b1dc 0%, #f54c85 35%, #b643b9 65%, #72b4f6 100%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 15px;
}

.zor-name {
    font-size: 18px;
    margin-bottom: 25px;
}


.pok-down {
    flex-direction: column;
}

.zor-right {
    border-radius: 0px;
        margin-top: 30px;
    width: 100vw;
}
.bread a:first-child{
    display:none;
}

.vn .pok-item {
    width: 100%;
    margin-right: 0px;
    height: max-content;
        margin-bottom: 0px;
    box-sizing: border-box;
}

.pok-item {
    width: 44%;
    padding: 2%;
    padding-bottom: 15px;
        margin-bottom: 10px;
}

.pok-more {
    margin: 30px auto;
    margin-top: 20px;
    cursor: pointer;
}


.pok-all .pok-stars {
    background: none;
    padding: 0px;
   
}

.pok-abs {
    height: 44px;
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight:bold;
justify-content: left;
     margin-top: 0px; 
    margin-bottom: 10px;
}

.pok-all {
    padding-top: 30px;
}

    .slots-number{
         display:none;
     }
     
    .slots-number:nth-child(2),
    .slots-number:nth-child(3),
    .slots-number:nth-child(4){
        display:flex;
    }
.vn {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 0px;
    background-color: #313144;
    flex-direction: column;
    width: 100vw;
    margin-left: -5vw;
}

.vn-right {
    display: flex;
    width: 90vw;
    margin: auto;
    flex-direction: column;
}

.exit{
    pointer-events: none;
 display:none
    
}


.nemob{
    display:none!important;
}

   
}

